# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
venv/
env/
.env
*.sqlite3

# Node
node_modules/
dist/
.env
.env.local
.env.production

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store